
<section id="about" class="about section">

	<div class="container">

		<div class="row gy-4">
			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
				<h3>@ViewBag.Title</h3>
				<img src="@ViewBag.ImageUrl" class="img-fluid rounded-4 mb-4" alt="">
				<br /><br />
				<p>@ViewBag.Description1</p>

				<p>Our collaborative process places your needs at the center of every decision. We believe that great design emerges from meaningful dialogue, careful listening, and a deep understanding of context. With every project, we aim to create spaces that not only look beautiful — but feel right, function flawlessly, and stand the test of time.</p>
			</div>
			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
				<div class="content ps-0 ps-lg-5">
					<p class="fst-italic">
						We don’t just design buildings — we craft spaces that tell your story.
						Timeless, functional, and made for the way you live.
					</p>
					<ul>
						<li><i class="bi bi-check-circle-fill"></i> <span>Tailor-made architectural solutions that blend aesthetics and functionality.</span></li>
						<li><i class="bi bi-check-circle-fill"></i> <span>Collaborative design process focused on your needs, vision, and lifestyle.</span></li>
						<li><i class="bi bi-check-circle-fill"></i> <span>Expertise in residential, commercial, and urban-scale projects with attention to detail and timeless design principles.</span></li>
					</ul>

					<p>
						@ViewBag.Description2
					</p>

					<div class="position-relative mt-4">
						<img src="/ArchiNest/assets/img/about.jpg" class="img-fluid rounded-4" alt="">
						<a href="@ViewBag.VideoUrl" class="glightbox pulsating-play-btn"></a>
					</div>
				</div>
			</div>
		</div>

	</div>

</section>